body {
    background-color: #232121;
}

h1 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
    font-family: 'Oregano', cursive;
    color: crimson;
    font-size: 50px;
    text-shadow: 1px 1px black;
}

#quoteBox {
    background-color: antiquewhite;
    width: 700px;
    height: 200px;
    margin: 10px auto;
    text-align: justify;
    padding: 30px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0px 0px 15px -2px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: inset 0px 0px 15px -2px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0px 0px 15px -2px rgba(0, 0, 0, 0.7);
}

#quoteText {
    font-size: 22px;
    font-family: 'Molengo', sans-serif;
    color: #303030;
}

#quoteAuthor {
    padding-top: 15px;
    font-size: 16px;
    float: right;
    margin-right: 30px;
    color: gray;
    font-family: 'Molengo', sans-serif;
}

.buttons {
    position: absolute;
    top: 490px;
    width: 720px;
}

#newQuote {
    padding: 13px;
    background-color: #BB1C34;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    margin-left: 5px;
    position: relative;
    top: -13px;
    color: #232121;
    font-weight: 600;
}

#newQuote:active {
    transform: translateY(2px);
}

.buttons i {
    font-size: 55px;
    cursor: pointer;
    margin-left: 520px;
    position: relative;
    color: #BB1C34;
}

.buttons i:active {
    transform: translateY(2px);
}

footer {
    text-align: center;
    color: grey;
    position: relative;
    bottom: -250px;
}

footer a {
    text-decoration: none;
    color: crimson;
}

@media only screen and (max-width: 768px) {
    h1 {
        margin-top: 40px;
        font-size: 35px;
        margin-bottom: 50px
    }
    
    #quoteBox {
        width: 300px;
        height: 300px;
    }
    
    #quoteText {
        font-size: 20px;
    }
    
    #quoteAuthor {
        padding-top: 25px;
        margin-right: 0;
    }
    
    .buttons {
        top: 430px;
        width: 280px;
        margin-left: 60px; 
    }
    
    #newQuote {
        font-size: 15px;
        padding: 10px;
        top: -10px;
        margin-left: 0;
        color: antiquewhite;
        font-weight: 400;
    }
    
    .buttons i {
        margin-left: 18px;
        font-size: 44px;
    }
    
    footer {
        bottom: -80px;
    }
}
